@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {

    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
    --dark-gray:hsl(220, 26%, 14%)

    --padding-container: 80px 0;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

/*header*/
.menu{
    background-color: hsl(220, 26%, 14%);
    color: #fff;
    height: 70px;
}

.menu__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.menu__logo{
    width: 180px;
    display: block;
}

.menu__links{
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.menu__item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu__item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu__link{
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}

.menu__link:hover{
    background-color: #5e7094;
}


.menu__arrow{
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.menu__nesting{
    list-style: none;
    transition:clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #000;
}

.menu__link--inside{
    padding: 30px 100px 30px 20px;
}

.menu__link--inside:hover{
    background-color: #798499;
}

.menu__hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu__img{
    display: block;
    width: 36px;
}

/*primer main index*/
.primer__main{
    background-repeat: no-repeat;
    background: linear-gradient(to right, hsla(113, 100%, 50%, 0.445), hsla(350, 100%, 88%, 0.616)), url(../assets/img/img-principla-rostro.jpg)
    
}

.principio__main{
    display: grid;
    grid-area: auto;
    gap: 2em;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    padding: 80px;
}

.primer__waves{
    grid-area: content;
    align-self: end;
}

.texto__main{
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;

}
.texto__main2{
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;

}
/**/
.hero__main{
    grid-area: content;
    display: grid;
    gap: 2em;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns: 1fr 1fr;
    padding-bottom: 180px; 
    align-items: center;
}


.hero__title{
    font-size: 2.6rem;
    letter-spacing: 2px;
}

.hero__subtitle{
    margin-top:1rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 300;
}

.hero__cta{
    text-decoration: none;
    color: black;
    padding: 15px 60px;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 500;
    transition: background-color .3s;
}

.hero__cta:hover{
    background-color: #fff;
    color: #1e3c72;
}

.hero__picture{
    padding-top: 100px;
}

.hero__img{
    width: 80%;
    border-radius: 450%;
}
/*modal index*/
.modal{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111111bd;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}


.modal__container{
    margin: auto;
    width: 90%;
    max-height: 90%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    text-align: center;
    display: grid;
    place-items: center;
    grid-auto-columns: 100%;
    gap: 1em;
    position: relative;
    transform: var(--transform);
    transition: var(--transition);
}

.modal__title{
    font-size: 2.5rem;
}

.modal__paragraph{
    margin-bottom: 10px;
}

.modal__img{
    width: 90%;
    max-width: 300px;
    display: block;
}

.modal__close{
    text-decoration: none;
    color: #fff;
    padding: 15px 50px;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 500;

    background-color: lightblue;
    transition: background-color .3s;
}
.modal__close2{
    text-decoration: none;
    color: #fff;
    padding: 15px 50px;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 500;

    background-color: lightblue;
    transition: background-color .3s;
}

.modal__close:hover{
    background-color: #fff;
    color: var(--grayish-blue);
}
.modal__close2:hover{
    background-color: #fff;
    color: var(--grayish-blue);
}


.container{
    width: 90%;
    min-height: 80vh;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
/*articulos index*/
.section-articulos{
    margin: 30px 0px;
    background: hsla(218, 27%, 14%, 0.788)
}
.titulo__articulos{
    text-decoration: none;
    text-align: center;
    color: #fff;
    margin-top:1rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Poppins'
    
}
.galeria-art{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.imagen-art{
    width: 24%;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-art img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(121, 132, 153, 0.397);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-art:hover .hover-galeria{
    transform: scale(1);
}

/*sliders index*/
.slider{
    background-color: #f2f2f2;
    padding: 40px 0;
}

.slider__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 1em;
}

.slider__body{
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    background-color: #f2f2f2;
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: opacity 1.5s;
}

.slider__body--show{
    opacity: 1;
    pointer-events: unset;
}

.slider__texts{
    max-width: 600px;
}

.subtitle{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.slider__review{
    font-weight: 300;
    font-size: 20px;
    line-height: 1.7;
}

.slider__img{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.slider__arrow{
    cursor: pointer;
    width: 90%;
}

.slider__arrow:nth-of-type(2){
    justify-self: end;
}

/*footer*/
.footer {
    background-color: var(--grayish-blue);
    text-align: center;
}

.footer__container{
    width: 100%;
    min-height: 50vh;
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
}
.footer__img {
    display: block;
    width: 200px;
    margin: 0 auto;
}

.footer__links {
    margin: 0 0 3em 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5em;
    align-items: center;
}

.footer__link {
    text-decoration: none;
    color: var(--dark-grayish-blue);
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__social {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
}

.footer__media {
    text-decoration: none;
}

.footer__icon {
    display: block;
    width: 20px;
    margin: 10px;
}

/*main articulos html*/
.articulos__main{
    align-items: center;
    background-repeat: no-repeat;
    background: linear-gradient(to right, hsla(113, 100%, 50%, 0.445), hsla(350, 100%, 88%, 0.616)), url(../assets/img/portada-articulos.jpg)
    
}
/*main sobre mi- biografia html*/
.sobremi__main{
    align-items: center;
    background-repeat: no-repeat;
    background: linear-gradient(to right, hsla(113, 100%, 50%, 0.445), hsla(350, 100%, 88%, 0.616)), url(../assets/img/sobremi-portada.jpg)
    
}
/*main servicios html*/
.servicios__main{
    align-items: center;
    background-repeat: no-repeat;
    background: linear-gradient(to right, hsla(113, 100%, 50%, 0.445), hsla(350, 100%, 88%, 0.616)), url(../assets/img/servicios-portada.jpg)
    
}
/*main contacto html*/
.contacto__main{
    align-items: center;
    background-repeat: no-repeat;
    background: linear-gradient(to right, hsla(113, 100%, 50%, 0.445), hsla(350, 100%, 88%, 0.616)), url(../assets/img/servicios-portada.jpg)
    
}
/*media tablet*/
@media (max-width:768px){
/*header*/
    /*nav*/
    .menu__hamburguer{
        display: flex;
    }

    .menu__item{
        --clip:0;
        overflow:hidden ;
    }

    .menu__item--active{
        --transform: rotate(0);
        --background: #5e7094;
    }

    .menu__item--show{
        background-color: var(--background);
    }


    .menu__links{
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: #000;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }

    .menu__links--show{
        transform: unset;
        width: 100%;
    }

    .menu__link{
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }

    .menu__arrow{
        margin-left: auto;
        margin-right: 20px;
    }

    .menu__nesting{
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }

    .menu__link--inside{
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #798499;
    }



    /*modal index*/
    .modal__container{
        padding: 2em 1.5em;
        
    }
    
    .modal__title{
        font-size: 2rem;
    }

/*main index*/
    .hero__main{
        grid-template-columns: 1fr;
        grid-template-rows:max-content max-content ;
        text-align: center;
    }

    .hero__picture{
        grid-row: 1/2;
    }

    .hero__img{
        max-width: 500px;
        display: block;
        margin: 0 auto;
    }
/*sliders index*/
    .slider__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 1em;
        font-size: 40px;
        text-align: center;
    }

    .subtitle{
        font-size: 2.2rem;
        margin-bottom: 20px;
    }

    .slider__arrow{
        width: 30px;
        height: 30px;
    }

    .slider__arrow:nth-of-type(2){
        justify-self:auto
    }


    .slider__picture{
        grid-row: 1/2;
    }

    .slider__img{   
        width: 150px;
        height: 150px;
    }

/*footer*/
    .footer__container {
        display: grid;
        align-items: center;
    }

    .footer__img {
        width: 70px;
    }

    .footer__links {
        margin: 0;
        flex-direction: column;
        gap: 1em;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer__link {
        width: 28%;
    }

    .footer__social{
        margin-left: auto;
    }
}

/*media phone*/
@media (max-width:320px){
    /*header*/
    /*nav*/
    .menu__hamburguer{
        display: flex;
    }
    
    .menu__item{
        --clip:0;
        overflow:hidden ;
    }
    
    .menu__item--active{
        --transform: rotate(0);
        --background: #5e7094;
    }
    
    .menu__item--show{
        background-color: var(--background);
    }
    
    
    .menu__links{
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: #000;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }
    
    .menu__links--show{
        transform: unset;
        width: 100%;
    }
    
    .menu__link{
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }
    
    .menu__arrow{
        margin-left: auto;
        margin-right: 20px;
    }
    
    .menu__nesting{
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }
    
    .menu__link--inside{
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #798499;
    }

    .servicios__main{
        height: 500px;
        display: grid;
        grid-area: auto;
    }

    .primer__waves{
        grid-area: content;
        align-self: end;
    }

    .principio__main{
        padding: 30px;
    }

    .texto__main{
        font-size: 20px;
    }

    .texto__main2{
        font-size: 20px;
    }
    

    /*modal index*/
    .modal__container{
        padding: 2em 1.5em;
        }

    .modal__title{
        font-size: 2rem;
    }
    
    /*main index*/
    .hero__main{
        grid-template-columns: 1fr;
        grid-template-rows:max-content max-content ;
        text-align: center;
    }
    
    .hero__picture{
        grid-row: 1/2;
    }
    
    .hero__img{
        max-width: 500px;
        display: block;
        margin: 0 auto;
    }
    /*sliders index*/
    .slider__container{
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }

    .slider{
        display: grid;
    }
    
    .subtitle{
        font-size: 2.2rem;
        margin-bottom: 20px;
    }

    .slider__review{
        font-size: 1rem;
        line-height: 1.6;
    }

    .slider__arrow{
        width: 30px;
        height: 30px;
    }

    .slider__picture{
        grid-row: 1/2;
    }
    
    .slider__img{   
        width: 150px;
        height: 150px;
    }
    
    /*footer*/
    .footer{
        margin: auto;
        display: grid;
    }
    .footer__container {
        grid-template-columns: 1fr;
        align-items: center;
        
        
    }

    .footer__img {
        width: 70px;
    }
    
    .footer__links {
        margin: 0;
        grid-template-rows: auto;
        align-items: center;
        gap: 1em;
    }

    .footer__link {
        width: 28%;
    }
    
    .footer__social{
        display: flex;
        flex-wrap: wrap;
    }

}
