$typo-principal: 'Poppins', sans-serif;
$typo-secundaria: 'Open Sans', sans-serif;
/*colores*/
$bg-nav:hsl(220, 26%, 14%);
$nav-colorletra:#fff;
$bg-footer: hsl(201, 11%, 66%);
$text-footer: hsl(210, 10%, 33%);



