$typo-principal: 'Poppins', sans-serif;
$typo-secundaria: 'Open Sans', sans-serif;
/*colores*/
$bg-nav:hsl(218, 20%, 21%);
$nav-colorletra:#fff;
$bg-footer: hsl(201, 11%, 66%);
$text-footer: hsl(210, 10%, 33%);

$sumbit: hsl(220, 26%, 14%);
$text-contact:hsl(114, 45%, 59%);

$azul-celeste: hsl(233, 100%, 69%);
$gris-medio: hsl(210, 10%, 33%);
$gris-claro: hsl(201, 11%, 66%);
$gis-oscuro: hsl(220, 26%, 14%);



