nav{
    background-color: $bg-nav;
    color: $nav-colorletra;
    height: 70px;
    section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        max-width: 1200px;
        min-width: auto;
        height: 100%;
        margin: 0 auto;
    }
    .menu__logo{
        width: 180px;
        display: block;
    }
    .menu__links{
        height: 100%;
        transition: transform .5s;
        display: flex;
    }
    .menu__item{
        list-style: none;
        position: relative;
        height: 100%;
        --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
        --transform: rotate(-90deg);
        &:hover{
            --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            --transform: rotate(0);
        }
    }
    .menu__link{
        color: #fff;
        text-decoration: none;
        padding: 0 10px;
        display: flex;
        height: 100%;
        align-items: center;
        &:hover{
            background-color: #5e7094;
        }
    }
    .menu__arrow{
        transform: var(--transform);
        transition: transform .3s;
        display: block;
        margin-left: 3px;
    }
    .menu__nesting{
        list-style: none;
        transition:clip-path .3s;
        clip-path: var(--clip);
        position: absolute;
        right: 0;
        bottom: 0;
        width: max-content;
        transform: translateY(100%);
        background-color: #000;
    }
    .menu__link--inside{
    padding: 30px 100px 30px 20px;
        &:hover{
            background-color: #798499;
        }
    }
    .menu__hamburguer{
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 15px;
        cursor: pointer;
        display: none;
        .menu__img{
            display: block;
            width: 36px;
        }
    }
}