.articulos__main{
    align-items: center;
    background-repeat: no-repeat;
    background: linear-gradient(to right, hsla(113, 100%, 50%, 0.445), hsla(350, 100%, 88%, 0.616)), url(../assets/img/portada-articulos.jpg)
    
}
