.servicios__main{
    align-items: center;
    background-repeat: no-repeat;
    background: linear-gradient(to right, hsla(113, 100%, 50%, 0.445), hsla(350, 100%, 88%, 0.616)), url(../assets/img/servicios-portada.jpg)
    
}

.servicios__coaching{
    height: auto;
    margin: 4%;
    background: hsla(312, 13%, 92%, 0.199);
    .coaching__container{
        display: grid;
        gap: 1em;
        align-items: center;
        grid-template-rows: 1fr;
        padding: 30px;
        .coaching__text{
            margin: 10px;
            .coaching__subtitle{
                font-family: $typo-principal;
                font-size: 45px;
                font-weight: 600;
                text-align: center;
                color: #5e7094;
                margin-bottom: 50px;
            }
            
        }
    }
}
.carousel-item img{
    width: 90%;
    max-height: 90%;
    max-width: 600px;
    border-radius: 5%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.coaching__parrafo{
    font-family: $typo-secundaria;
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
    color: black;
    padding-top: 25px;
}


