.bio__grid{
    width: 100%;
    padding: 10px;
    background: hsla(300, 17%, 88%, 0.26);
    text-align:center justify
}
    .principio__bio1{
        margin-right: 90px;
        margin-left: 90px;
        margin-top: 20px;
        margin-bottom: 20px;
        display: grid;
        gap: 2px;
        align-items: center;
        grid-template-columns: 60% 40%;
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
        "titulo__bio1 bio__img1"
        "texto__bio1 texto__bio1"
        "texto__bio2 texto__bio2"
        "texto__bio3 texto__bio3"
        "texto__bio4 texto__bio4"
    }
        .titulo__bio1 {
            grid-area: titulo__bio1 ;
            font-size: 25px;
            font-weight: 600;
            font-family: $typo-principal;
            color: $gris-oscuro;
            text-align: end;
        }
        .bio__img1{
            grid-area: bio__img1 ;
            width: 60px;
            margin: 0 0 20px 20px;
            font-family: $typo-secundaria;
        }
        .texto__bio1{
            grid-area: texto__bio1 ;
            font-size: 15px;
            font-family: $typo-secundaria;
        }
        .texto__bio2{    
            grid-area: texto__bio2 ;
            @extend .texto__bio1;
        }
        .texto__bio3{
            grid-area: texto__bio3 ;
            @extend .texto__bio1;
        }
        .texto__bio4{
            grid-area: texto__bio4 ;
            @extend .texto__bio1;
        }
    .principio__bio2 {
        @extend .principio__bio1;
        margin-top: 0;
        grid-template-columns: 55% 45%;
        grid-template-rows: repeat(7, auto);
        grid-template-areas:
        "titulo__bio2 bio__img2"
        "texto__bio5 texto__bio5"
        "texto__bio6 texto__bio6"
        "texto__bio7 texto__bio7"
        "texto__bio8 texto__bio8"
        "texto__bio9 texto__bio9"
        "texto__bio10 texto__bio10"
    }
        .titulo__bio2 {
            grid-area: titulo__bio2 ;
            @extend .titulo__bio1;
        }
        .bio__img2{
            grid-area: bio__img2 ;
            width: 60px;
            margin: 0 0 20px 10px;
        }
        .texto__bio5{
            grid-area: texto__bio5 ;
            @extend .texto__bio1;
        }
        .texto__bio6{
            grid-area: texto__bio6 ;
            @extend .texto__bio1;
        }
        .texto__bio7{
            grid-area: texto__bio7 ;
            @extend .texto__bio1;
        }
        .texto__bio8{
            grid-area: texto__bio8 ;
            @extend .texto__bio1;
        }
        .texto__bio9{
            grid-area: texto__bio9 ;
            @extend .texto__bio1;
        }
        .texto__bio10{
            grid-area: texto__bio10 ;
            @extend .texto__bio1;
        }

    .principio__bio3 {
        @extend .principio__bio1;
        margin-top: 80px;
        gap: 7px;
        align-items: start;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 0.5fr 0.5fr 1fr;
        grid-template-areas:
        "titulo__bio3 titulo__bio3 titulo__bio3"
        "titulo__principal1 titulo__principal2 titulo__principal3"
        "subtitulo__principal1 subtitulo__principal2 subtitulo__principal3"
        "texto__principal1 texto__principal2 texto__principal3"
    }
        .titulo__bio3 {
            grid-area: titulo__bio3 ;
            font-size: 50px;
            font-weight: 600;
            font-family: $typo-principal;
            color: $gris-oscuro;
            text-align: center;
        }
        .titulo__principal1{
            grid-area: titulo__principal1 ;
            font-size: 20px;
            font-family: $typo-secundaria;
            text-align: center;
            color: $gris-medio;
        }
        .titulo__principal2{
            grid-area: titulo__principal2 ;
            @extend .titulo__principal1;
        }
        .titulo__principal3{
            grid-area: titulo__principal3 ;
            @extend .titulo__principal1;
        }
        .subtitulo__principal1{
            grid-area: subtitulo__principal1 ;
            font-size: 15px;
            font-family: $typo-secundaria;
            text-align: center;
            color: $gris-claro
        }
        .subtitulo__principal2{
            grid-area: subtitulo__principal2 ;
            @extend .subtitulo__principal1;
        }
        .subtitulo__principal3{
            grid-area: subtitulo__principal3 ;
            @extend .subtitulo__principal1;
        }
        .texto__principal1{
            grid-area: texto__principal1 ;
            font-size: 15px;
            font-family: $typo-secundaria;
            text-align: center;
        }
        .texto__principal2{
            grid-area: texto__principal2 ;
            @extend .texto__principal1;
        }
        .texto__principal3{
            grid-area: texto__principal3 ;
            @extend .texto__principal1;
        }