.primer__main{
    background-repeat: no-repeat;
    background: linear-gradient(to right, hsla(113, 100%, 50%, 0.445), hsla(350, 100%, 88%, 0.616)), url(../assets/img/img-principla-rostro.jpg)
    
}

.principio__main{
    display: grid;
    gap: 2em;
    align-items: center;
    grid-template-rows: 30% 20%;
    padding: 90px 30px 0 30px;
    height: 400px;
    .texto__main{
        text-decoration: none;
        text-align: center;
        color: #fff;
        font-size: 1.8rem;
        font-weight: 500;
    }
    .texto__main2{
        @extend .texto__main;
        font-size: 2rem;
        font-weight: 600;
    }
}

/*segunda section main index*/
.hero__main{
    grid-area: content;
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 10px; 
    align-items: center;
}
.hero__texts{
    .hero__title{
        font-size: 2.6rem;
        letter-spacing: 2px;
    }
    .hero__subtitle{
        margin-top:1rem;
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
        font-weight: 300;
    }
    .hero__cta{
        text-decoration: none;
        color: black;
        padding: 15px 60px;
        border: 1px solid;
        border-radius: 6px;
        display: inline-block;
        font-weight: 500;
        transition: background-color .3s;
        &:hover{
            background-color: #fff;
            color: #1e3c72;
        }
    }
}
.hero__picture{
    padding-top: 100px;
    .hero__img{
        width: 80%;
        border-radius: 450%;
    }
}


/*modal index*/

.modal{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111111bd;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
    z-index: 1;
}
    .modal__container{
        margin: auto;
        width: 90%;
        max-height: 90%;
        max-width: 600px;
        background-color: #fff;
        border-radius: 6px;
        padding: 3em 2.5em;
        text-align: center;
        display: grid;
        place-items: center;
        grid-auto-columns: 100%;
        gap: 10px;
        position: relative;
        transform: var(--transform);
        transition: var(--transition);
    }

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}
    .modal__img{
        width: 90%;
        max-width: 110px;
        display: block;
    }
    .modal__title{
        font-size: 30px;
    }
    .modal__title2{
        font-size: 20px;
    }
    .modal__paragraph{
        margin-bottom: 10px;
    }
    .modal__close{
        text-decoration: none;
        color: #fff;
        padding: 15px 30px;
        border: 1px solid;
        border-radius: 6px;
        display: inline-block;
        font-weight: 500;
        background-color: $gris-claro;
        transition: background-color .3s;
        &:hover{
            background-color: #fff;
            color: $gris-medio;
        }
    }
    .modal__close2{
        @extend .modal__close;
        &:hover{
            background-color: #fff;
            color: $gris-medio;
        }
    }
    .modal__close3{
        text-decoration: none;
        color: $gris-medio;
        font-weight: 500;
        &:hover{
            color: $gris-medio;
        }
    }

/*articulos index*/
.section-articulos{
    margin: 30px 15px;
    background: hsla(218, 27%, 14%, 0.788);
    .articulos{
        @include flex-art (wrap, center);
        font-family: $typo-principal;
        .titulo__articulos{
            text-decoration: none;
            text-align: center;
            color: #fff;
            margin-top:1rem;
            margin-bottom: 1.5rem;
            font-size: 2rem;
            font-weight: 500;
        }
        .galeria-art{
            @include flex-art (wrap, space-evenly );
            .imagen-art{
                width: 24%;
                margin-bottom: 10px;
                position: relative;
                cursor: pointer;
                box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
                &:hover .hover-galeria{
                    transform: scale(1);
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }
                .hover-galeria{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    transform: scale(0);
                    background: rgba(121, 132, 153, 0.397);
                    transition: transform .5s;
                    @include flex-col (center, center, column);
                    p{
                        color: #fff;
                    }
                }
            }
        }
    }
}



/*sliders index*/
.slider{
    background-color: #f2f2f2;
    margin-bottom: 40px;
    padding: 40px 0 40px 0;
    .slider__container{
        display: grid;
        grid-template-columns: 50px 1fr 50px;
        align-items: center;
        gap: 1rem;
    }
}
.slider__arrow{
    cursor: pointer;
    width: 80%;
}
.slider__arrow:nth-of-type(2){
    justify-self: end;
}
.slider__body{
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    background-color: #f2f2f2;
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: opacity 1s;
    gap: 5px;
} 
.slider__body--show{
    opacity: 1;
    pointer-events: unset;
}
.slider__texts{
    max-width: 600px;
    text-align: justify;
    .subtitle{
        font-size: 2.5rem;
        margin-bottom: 20px;
        text-align: center;
    }
    .slider__review{
        font-weight: 300;
        font-size: 20px;
        line-height: 1.7;
    }
}
.slider__img{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
