/*media phone*/
@media (max-width:320px){
    /*primera section main general*/
    .principio__main{
        padding: 30px;
        grid-template-rows: 0.5fr;
        gap: 1.8em;
        .texto__main{
            font-size: 20px;
            padding-top: 20px;
        }
        .texto__main2{
            font-size: 30px;
            padding-top: 0px;
        }
    }

    /*modal index*/
    .modal__container{
        padding: 2em 1.5em;
        max-width: 320px;
        .modal__img{
            width: 70px;
        }
        .modal__title{
            font-size: 20px;
        }
        .modal__title2{
            font-size: 15px;
        }
        .modal__paragraph{
            font-size: 10px;
            margin-bottom: 0;
        }
        .modal__close{
            padding: 6px 6px;
            font-size: 12px;
        }
        .modal__close2{
            padding: 6px 6px;
            font-size: 12px;
        }
        .modal__close3{
            padding: 0;
            font-size: 12px;
        }
    }


    /*main index*/
    .hero__main{
        grid-template-columns: 1fr;
        grid-template-rows:max-content max-content ;
        text-align: center;
    }
    
    .hero__picture{
        grid-row: 1/2;
    }
    
    .hero__img{
        max-width: 500px;
        display: block;
        margin: 0 auto;
    }
    /*sliders index*/

    .slider{
        display: grid;
        .slider__container{
            grid-template-columns: 1fr 1fr 1fr;
            text-align: center;
            .slider__arrow{
                width: 30px;
                height: 30px;
            }
        }
    }
    .slider__texts{
        .subtitle{
            font-size: 2.2rem;
            margin-bottom: 20px;
        }
        .slider__review{
            font-size: 16px;
            line-height: 1.6;
            text-align: center;
        }
    }

    .slider__picture{
        grid-row: 1/2;
        .slider__img{   
            width: 150px;
            height: 150px;
        }
    }

    .hover-galeria{
        font-size: 12px;
        text-align: center;
    }
    /*footer*/
    .footer{
        margin: auto;
        display: grid;
        .footer__container {
            grid-template-columns: 1fr;
            align-items: center;
            .footer__picture{
                margin: 0;
                .footer__img {
                    width: 60%;
                }
            }
            .footer__links {
                margin: 0;
                grid-template-rows: auto;
                align-items: center;
                gap: 2em;
                margin-bottom: 50px;
            }
            .footer__social{
                display: flex;
                flex-wrap: wrap;
            }
        }
    }


    .principio__bio3{
        margin-left: 20px;
        margin-bottom: 30px;
        height: 400px;
        gap: 10px;
        grid-template-rows:50px 60px 60px;
        .titulo__bio3{
            font-size:30px;
        }
        .titulo__principal1{
            font-size: 15px;
            text-align: center ;
        }
        .subtitulo__principal1{
            font-size: 10px;
            text-align: center ;
        }
        .texto__principal1{
            font-size: 12px;
            text-align: center ;
        }
        .titulo__principal2{
            font-size: 15px;
            text-align: center ;
        }
        .subtitulo__principal2{
            font-size: 13px;
            text-align: center ;
        }
        .texto__principal2{
            font-size: 12px;
            text-align: center ;
        }
        .titulo__principal3{
            font-size: 15px;
            text-align: center ;
        }
        .subtitulo__principal3{
            font-size: 13px;
            text-align: center ;
        }
        .texto__principal3{
            font-size: 12px;
            text-align: center ;
        }
    }


    .section-articulos{
        .articulos{
            .galeria-art{
                flex-direction: column;
                align-content: center;
                .imagen-art{
                    width: 90%;
                }
            }
        }
    }

    .servicios__coaching{
        margin: 0;
        .coaching__container{
            padding: 2px;
            .coaching__text{
                margin: 15px;
                .coaching__subtitle{
                    font-size: 35px;
                    font-weight: 600;
                    margin-top: 20px;
                }
                .coaching__parrafo{
                    font-size: 12px;
                    margin: 5px;
                }
            }
        }
    }


    .form{
        width:80%;
        .form__title{
            font-size: 35px;
            text-align: center;
        }
        .form__paragraph{
            font-size: 20px;
            text-align: center;
        }
    }


}