@media (max-width:768px) {
    /*header*/
        /*nav*/

    .menu{
        height: 90px;
        .menu__container{
            .menu__logo{
                width: 140px;
            }
        }
    }


        .menu__hamburguer{
            display: flex;
            flex-wrap: wrap;
        }
    
        .menu__item{
            --clip:0;
            overflow:hidden ;
        }
    
        .menu__item--active{
            --transform: rotate(0);
            --background: #5e7094;
        }
    
        .menu__item--show{
            background-color: var(--background);
        }
    
    
        .menu__links{
            position: fixed;
            max-width: 400px;
            width: 100%;
            top: 70px;
            bottom: 0;
            right: 0;
            background-color: $bg-nav;
            overflow-y: auto;
            display: grid;
            grid-auto-rows: max-content;
            transform: translateX(100%);
        }
    
        .menu__links--show{
            transform: unset;
            width: 80%;
            z-index: 1;
        }
    
        .menu__link{
            padding: 25px 0;
            padding-left: 30px;
            height: auto;
            font-size: 15px;
        }
    
        .menu__arrow{
            margin-left: auto;
            margin-right: 20px;
        }
    
        .menu__nesting{
            display: grid;
            position: unset;
            width: 100%;
            transform: translateY(0);
            height: 0;
            transition: height .3s;
        }
    
        .menu__link--inside{
            width: 90%;
            margin-left: auto;
            border-left: 1px solid #798499;
            &:hover{
                background-color: #798499;
            }
        }
    


        .modal__container{
            padding: 1.5em 1em;
            .modal__img{
                max-width: 100px;
            }
            .modal__title{
                font-size: 1rem;
            }
            .modal__title2{
                font-size: 1rem;
            }
        }

    /*main index*/
        .hero__main{
            grid-template-columns: 1fr;
            grid-template-rows:max-content max-content ;
            text-align: center;
        }
    
        .hero__picture{
            grid-row: 1/2;
        }
    
        .hero__img{
            max-width: 500px;
            display: block;
            margin: 0 auto;
        }
    /*sliders index*/
    .slider{
        margin-bottom: 0px;
    }
        .slider__body{
            grid-template-columns: 1fr;
            grid-template-rows: max-content 1fr;
            gap: 1em;
            font-size: 40px;
            text-align: center;
        }
        .slider__texts{
            .subtitle{
                font-size: 30px;
                margin-bottom: 20px;
                text-align: center;
            }
            .slider__review{
                font-size: 15px;
            }
        }
    
        .slider__arrow{
            width: 30px;
            height: 30px;
        }
    
        .slider__arrow:nth-of-type(2){
            justify-self:auto
        }
    
    
        .slider__picture{
            grid-row: 1/2;
            .slider__img{   
                width: 150px;
                height: 150px;
            }
        }
    

        .section-articulos{
            margin: 10%;
            .articulos{
                .titulo__articulos{
                    font-size: 30px;
                }
                .galeria-art{
                    flex-direction: column;
                    align-content: center;
                    .imagen-art{
                        width: 90%;
                    }
                }
            }
        }

    .principio__bio1{
        margin-right: 30px;
        margin-left: 30px;
        margin-top: 5px;
        margin-bottom: 50px;
        .titulo__bio1{
            font-size: 20px;
            text-align: center;
        }
        .texto__bio1{
            font-size: 13px;
            text-align: justify ;
        }
        .texto__bio2{
            font-size: 13px;
            text-align: justify ;
        }
        .texto__bio3{
            font-size: 13px;
            text-align: justify ;
        }
        .texto__bio4{
            font-size: 13px;
            text-align: justify ;
        }
    }

    .principio__bio2{
        margin-right: 30px;
        margin-left: 30px;
        margin-bottom: 10px;
        .titulo__bio2{
            font-size: 20px;
            text-align: center;
        }
        .texto__bio5{
            font-size: 13px;
            text-align: justify ;
        }
        .texto__bio6{
            font-size: 13px;
            text-align: justify ;
        }
        .texto__bio7{
            font-size: 13px;
            text-align: justify ;
        }
        .texto__bio8{
            font-size: 13px;
            text-align: justify ;
        }
        .texto__bio9{
            font-size: 13px;
            text-align: justify ;
        }
        .texto__bio10{
            font-size: 13px;
            text-align: justify ;
        }
    }

    .principio__bio3{
        margin-top: 60px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 30px;
        height: 400px;
        gap: 12px;
        grid-template-rows: 60px 40px 40px;
        .titulo__bio3{
            font-size:30px;
        }
        .titulo__principal1{
            font-size: 15px;
            text-align: center ;
        }
        .subtitulo__principal1{
            font-size: 10px;
            text-align: center ;
        }
        .texto__principal1{
            font-size: 13px;
            text-align: center ;
        }
        .titulo__principal2{
            font-size: 15px;
            text-align: center ;
        }
        .subtitulo__principal2{
            font-size: 13px;
            text-align: center ;
        }
        .texto__principal2{
            font-size: 13px;
            text-align: center ;
        }
        .titulo__principal3{
            font-size: 15px;
            text-align: center ;
        }
        .subtitulo__principal3{
            font-size: 13px;
            text-align: center ;
        }
        .texto__principal3{
            font-size: 13px;
            text-align: center ;
        }
    }

    .servicios__coaching{
        margin: 0;
    }

    .form{
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        .form__title{
            font-size: 30px;
        }
        .form__paragraph{
            font-size: 15px;
        }
        .form__label{
            font-size: 11px;
        }
    }

    /*footer*/
        .footer__container {
            display: grid;
            align-items: center;
            height: 400px;
            .footer__picture{
                margin: 0;
                .footer__img {
                    width: 30%;
                }
            }
        }
    

        .footer__links {
            margin: 0;
            flex-direction: column;
            gap: 2em;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 30px;
            .footer__link {
                width: 100%;
                font-size: 13px;
            }
        }
    

        .principio__main{
            padding: 50px 30px 0 30px;
            gap: 2rem;
            .texto__main{
                font-size: 23px;
                padding-top: 80px;
            }
            .texto__main2{
                font-size: 25px;
                margin-top: 20px;
            }
        }
    }




